*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Patrick Hand", cursive;
}

body {
  max-width: 1320px;
  margin: 100px auto;
  padding: 0 12%;
}

h1 {
  color: blueviolet;
  font-size: 60px;
  text-align: center;
}

.uil-trophy {
  color: rgb(255, 174, 0);
}

main {
  display: flex;
  gap: 20px;
}

section .recent-score {
  display: flex;
  padding: 2rem 0;
  width: 500px;
  position: relative;
  align-items: center;
}

.recent-score h2 {
  font-size: 32px;
  color: blueviolet;
}

.recent-score .btn {
  margin: auto;
  padding: 5px;
  font-family: "Patrick Hand", cursive;
  font-weight: 600;
  position: absolute;
  right: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
}

section .score-list {
  overflow: hidden;
  border: none;
}

.score-num {
  max-width: 500px;
  font-size: 18px;
  color: blueviolet;
}

.score-num:nth-child(2n) {
  background-color: rgb(220, 207, 231);
}

p .uil-star {
  color: rgb(255, 174, 0);
}

p .uil-user-circle {
  color: rgb(255, 174, 0);
}

section .add-score-container {
  padding: 2rem;
}

.add-score-container h2 {
  font-size: 32px;
  color: blueviolet;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  padding: 6px 24px;
  border: none;
  border-bottom: 2px solid blueviolet;
  outline: none;
}

.form-input-name {
  display: flex;
  position: relative;
  gap: 10px;
}

.form-input-name i {
  font-size: 22px;
  color: rgb(255, 174, 0);
  position: absolute;
}

.form-input-score {
  display: flex;
  position: relative;
}

.form-input-score i {
  font-size: 22px;
  color: rgb(255, 174, 0);
  position: absolute;
}

form .btn-form {
  margin: auto;
  padding: 5px;
  font-family: "Patrick Hand", cursive;
  font-weight: 700;
  background-color: blueviolet;
  color: white;
  border: none;
}
